<%= form_for(@travel) do |f| %>
  <% if @travel.errors.any? %>
    <%= render partial: 'form_error_header', locals: { error_messages: @travel.errors.full_messages } %>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag(I18n.t :shcedule, scope: [:activerecord, :attributes, :travel]) %><br>
    <%= f.date_field :start_date, { class: "form-control-select" } %>
    〜
    <%= f.date_field :end_date, { class: "form-control-select" } %>
  </div>
  <div class="form-group">
    <%= f.label :memo %><br>
    <%= f.text_area :memo, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-default", value: '登録' %>
<% end %>
