<section class="page-block space-top space-bottom">
  <div class="container">
    <div class="page-heading center">
      <h3>旅行計画一覧</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section class="col-md-12 shopping-cart">
      	<header>
        	<div class="row">
        		<div class="col-xs-6"><%= link_to '新規登録', new_travel_path %></div>
        	</div>
        </header>
        <br>
        <% @travels.each do |travel| %>
        <div class="item">
          <div class="delete">
            <%= link_to travel, method: :delete, data: { confirm: '削除します。宜しいですか?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>

        	<div class="row">
        		<div class="col-sm-6 col-xs-6 group">
              <div class="details">
                <h4><%= link_to travel.name , travel_path(travel) %></h4>
                <%= travel.schedule %>
              </div>
        		</div>
            <div class="col-xs-3 hidden-xs">
              <%= travel.memo %>
            </div>
            <div class="col-sm-3 col-xs-6">
              <%= link_to '編集', edit_travel_path(travel), class: 'btn btn-primary' %><br>
            </div>
        	</div>
        </div>
        <% end %>
      </section>
    </div>
  </div>
</section>
