<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @travel.name %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @travel.memo %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @travel.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @travel.end_date %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @travel.deleted_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @travel.user_id %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
