<% @need_pages_js = true %>
<section class="page-block double-padding-top double-space-bottom">
	<div class="container-fluid">
  	<div class="page-heading center">
      <h2><%= link_to @travel.name, edit_travel_path(@travel) %></h2>
  	</div>
    <div class="row double-space-top">
      <div class="col-md-5 col-md-offset-2">
        <% unless @travel.past? %>
          <% # add schedule panel %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#manage-photo" href="#add-schedule" class="collapsed">
                  予定を追加する
                </a>
              </h4>
            </div>
            <div id="add-schedule" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <%= form_tag(schedules_path) do %>
                  <div class="form-group">
                      日程: <%= select :schedule, :travel_date_id, @travel.schedule_list_for_select,
                        {}, { class: "form-control-select" } %>&emsp;
                      時間: <%= time_field :schedule, :start_time, { class: "form-control-select" } %> 〜
                      <%= time_field :schedule, :end_time, { class: "form-control-select" } %>&emsp;
                  </div>
                  <div class="form-group">
                      場所: <%= select :schedule, :place_id, options_for_select(@places),
                        {}, { class: "form-control-select" } %>&emsp;
                  </div>
                  <div class="text-center">
                    <%= submit_tag :add_schedule,  class: "btn btn-primary", value: '登録' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <% # add photo panel %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#manage-photo" class="collapsed">
                  写真管理
                </a>
              </h4>
            </div>
            <div id="manage-photo" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <%= link_to '写真データを紐付ける', new_travel_photo_path(travel_id: @travel.id) %>&emsp;&emsp;
                写真を見る : <%= select :travel_photo, :id, @travel.photo_list_for_select,
                  { prompt: 'Please select' },
                  { class: "form-control-select", onchange: "if (this.value) window.location.href=this.value" } %>
                &emsp;&emsp;
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#confirm-memo" class="collapsed">
                メモを確認する
              </a>
            </h4>
          </div>
          </div>
            <div id="confirm-memo" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body">
                <%= simple_format(@travel.memo) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row double-space-top">
      <div class="col-md-8 col-md-offset-2">
        <div class="tab-content">
        <ul class="nav-tabs left" role="tablist">
          <% @travel.travel_dates.each_with_index do |d, i| %>
            <li class="<%= 'active' if i == 0 %>"><a href="#<%= i + 1%>_day" role="tab" data-toggle="tab"><%= i + 1%>日目</a></li>
          <% end %>
        </ul>
        <% @travel.travel_dates.each_with_index do |travel_date, i| %>
          <div class="tab-pane <%= "fade in active" if i == 0 %>" id="<%= i + 1%>_day">
            <hr>
            <h4>
              <%= I18n.l(travel_date.date, format: :long) %>
              <% if travel_date.schedules.present? %>
                <small><%= link_to '行く場所の一覧をGoogleMapで見る', map_schedule_path(travel_date_id: travel_date.id), target: '_blank' %></small>
              <% end %>
            </h4>
            <ul class="timeline">
              <% travel_date.schedules.each_with_index do |schedule, i| %>
                <% schedule.extend(ScheduleDecorator) %>
                <% if schedule.route %>
                  <% route = schedule.route %>
                  <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-arrow-circle-right"></i></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <div class="delete">
                          <%= link_to edit_schedule_route_path(schedule, route) do %>
                            <i class="fa fa-edit"></i>
                          <% end %>
                          <%= link_to schedule_route_path(schedule, route), method: :delete, data: { confirm: '削除します。宜しいですか?' } do %>
                            <i class="fa fa-trash-o"></i>
                          <% end %>
                        </div>
                      </div>
                      <div class="timeline-body">
                        <%= simple_format(route.detail) %>
                        <br>
                      </div>
                    </div>
                  </li>
                <% end %>
                <li>
                  <div class="timeline-badge success"><i class="fa fa-map-marker"></i></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title"><%= schedule.place.name %></h4>
                      <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%= schedule.formatted_time %></small></p>
                      <% if schedule.route.blank? %>
                        <%= link_to 'この場所への移動方法を登録する', new_schedule_route_path(schedule) %>
                      <% end %>
                      <div class="delete">
                        <%= link_to schedule, method: :delete, data: { confirm: '削除します。宜しいですか?' } do %>
                          <i class="fa fa-trash-o"></i>
                        <% end %>
                      </div>
                    </div>
                    <div class="timeline-body">
                      <% memo = schedule.try(:memo) || 'メモを編集' %>
                      <a href="#" class="schedule-memo" data-type="textarea" data-pk="<%= schedule.id %>" data-url="<%= update_memo_schedule_path(schedule) %>" data-title="Enter memo"><%= memo %></a>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        </div>
      </div>
    </div>
	</div>
</section><!--Section Close-->

