<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <%= render partial: 'form_error_header', locals: { error_messages: @user.errors.full_messages } %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <hr>
  <%= f.fields_for(:photo_service_user_info) do |f_photo| %>
    <div class="form-group">
      <%= f_photo.label :service_type %><br>
      <%= f_photo.select :service_type, PhotoServiceUserInfo.service_types.keys, {}, { class: "form-control-select", prompt: 'Please select' } %>
    </div>
    <div class="form-group">
      <%= f_photo.label :photo_service_user_id %><br>
      <%= f_photo.text_field :photo_service_user_id, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit class: "btn btn-default", value: '更新', data: { disable_with: "Please wait..." } %>
<% end %>
