<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <%= render partial: 'form_error_header', locals: { error_messages: @place.errors.full_messages } %>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><span class="text-primary p-lg">(必須)</span><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><span><span class="text-primary p-lg">(必須)</span><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :memo %><br>
    <%= f.text_area :memo, class: "form-control" %>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="text-center">
      <%= f.submit class: "btn btn-md btn-primary", value: '登録', data: { disable_with: "Please wait..." } %>
    </div>
  </div>
<% end %>
