<section class="page-block space-top space-bottom">
  <div class="container">
    <div class="page-heading center">
      <h3>行きたい場所一覧</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <section class="col-md-12 shopping-cart">
      	<header>
        	<div class="row">
        		<div class="col-xs-6"><%= link_to '新規登録', new_place_path %></div>
            <div class="col-xs-6">
              <% if @places.present? %>
                <%= link_to '一覧をGoogleMapで見る', map_places_path, target: '_blank'  %>
              <% end %>
            </div>
        	</div>
        </header>
        <br>
        <% @places.each do |place| %>
        <div class="item">
          <div class="delete">
            <%= link_to place, method: :delete, data: { confirm: '削除します。宜しいですか?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </div>

        	<div class="row">
        		<div class="col-sm-6 col-xs-6 group">
              <div class="details">
                <h4><%= link_to place.name , map_place_path(place.id), target: '_blank' %></h4>
                <%= place.address %><br>
                <% if place.urls.present? %>
                  <% place.urls.each_with_index do |url, i| %>
                    <%= link_to "参考URL#{i + 1}", url, target: '_blank' %>
                  <% end %>
                <% end %>
              </div>
        		</div>
            <div class="col-xs-3 hidden-xs">
              <%= simple_format(place.memo) %>
            </div>
            <div class="col-sm-3 col-xs-6">
              <%= link_to '編集', edit_place_path(place), class: 'btn btn-primary' %><br>
            </div>
        	</div>
        </div>
        <% end %>
      </section>
    </div>
  </div>
</section>
