<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TravelBase</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <% if controller_name == 'map' %>
      <%= include_gon %>
      <script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <%= javascript_include_tag 'pages/map' %>
    <% else %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag "pages/#{controller_name}" if @need_pages_js %>
    <% end %>

    <% if @need_gon %>
      <%= include_gon %>
    <% end %>


    <%= csrf_meta_tags %>
  </head>

  <body class="parallax animated fadeIn">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <%= render 'navbar_header' %>
    </nav>
    <div class="site-layout">
      <div class="page">
        <%= render 'flash' %>

        <%= yield %>

        <section class="info-box primary">
          <div class="container">
            <div class="row"></div>
          </div>
        </section>
      <div>
    <div>
  </body>

</html>
